@media screen and (min-width: 1920px){
    body{
        background-color: #575157;
        margin: 0 auto;
        color: #ffff;
        width: 100%;
    } 
    #menu{
        margin: 10px;
        width: 100%;
        text-align: left; 
        display: flex;
        
    }
    #menu h1{
        margin: 15px;
    }
    #menu nav{
        margin-left: 900px;
        display: flex;  
    }
    #menu nav ul{
        font-size: 1.2rem;
        list-style-type:none;
        text-decoration:underline;
        text-underline-offset: 10px;
        text-decoration-color: #e03de0;
    }
    #menu nav ul a{
        color: #ffff;
        text-decoration: none;
        text-transform: uppercase;
    }
    #menu nav ul a:hover{
        
    }
    section{
        background-color: #575157;
        margin-right:auto;
        margin-left:auto;
        width: 100%;
    }
    section h1{
        color: #e03de0;
    }
    section h2{
        text-align: center;
        color: #e03de0;
    }
    video{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    #welcome_banner{
        height: 800px;
    }
    #texto1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 200px;
        width: 800px;
        font-size: 23px;
    }
    #texto1 p{
        width: 800px;
        margin-left: 50px;
        margin-top: 250px;
    }
    #titulo{
        margin-top: 300px;
        width: 600px;
    }
    #texto1 h1{
        font-size: 45px;
    }
    #Grid_text{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 90%;
    }
    #box{        
        width: 500px;
        margin: 35px;
    }
    #box_style{
        background-color: #615d61;
        border-radius: 10px;
        height: 560px;
        box-shadow: 1px 1px 10px #333233;
        margin: 5px;
    }
    #box img{
        margin: 15px;
        width: 300px;
        height: 200px;
        border-radius: 10px;
        border-color: #575157;
        border: 4px;
    }
    #box h3{
        text-decoration: underline;
        text-decoration-color: #e03de0;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 0.3rem;
    }
    #box p{
        height: 250px;
        margin: 15px;
        font-size: 17px;
        width: 300px;
    }
    #box a{
        font-size: 1.5rem;
        text-decoration: none;
        color: #ffff;
        border: 1px solid;
        border-color: #e03de0;
        padding: 5px;
        margin-left: 100px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #333233;
    }
    #box a:hover{
        background-color: #e03de0;
    }
    footer{
        margin-top: 50px;
        width: 100%;
        background-color: #333233;
        position: absolute;
        text-align: center;

    }
    #footer_content{
        text-align: start;
        margin-left: 200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #footer_content h3,h2,h1{
        text-decoration: underline;
        text-decoration-color: #e03de0;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 8px;
    }
    .footer-link{
        text-decoration: none;
    }
    
    #footer_contacts h1{
        margin-bottom: 0.75rem;
    }
    #footer_social_media{
        display: flex;
        gap: 2.5rem;
        margin-top: 1.5rem;
    }
    #footer_social_media .footer-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--color-neutral-40);
        border-radius: 50%;
        transition: all 0.4s;
    }
    #footer_social_media .footer-link i{
        font-size: 1.25rem;
    }
    #footer_social_media .footer-link:hover{
        opacity: 0.8;
    }
    #instagram{
        background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    }
    #facebook{
        background-color: #4267b3;
    }
    #whatsapp{
        background-color: #25d366;
    }
    #menu{
        color: white;
    }
    
    .footer-list{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none;
    }
    .footer-list .footer-link{
        color: var(--color-neutral-30);
        transition: all 0.4s;
    }
    .footer-list .footer-link:hover{
        color: #ed51ed;
    }
    #footercopyright{
        justify-content: center;
        font-size: 0.9rem;
        padding: 1.5rem;
        font-weight: 100;
    }
}